#body{
    display: block;
    padding-top: 80px;
}

#content{
    z-index: 1;
    display: inline-flex;
    position: relative;
}

.cart-hide {
    display: inline-flex;
    background-color: white;
    height: 60vh;
    position: fixed;
    top: 100;
    right: -100%;
    transition: 850ms;
    z-index:201;
    overflow-y: hidden;
    width: min-content;
    border: solid 3px black;
  }
  
  .cart-active {
    border-radius: 6px;
    top: 100;
    overflow-y: auto;
    height: 85vh;
    position: fixed;
    width: 35%;
    background-color: white;
    right: 0;
    transition: 350ms;
    z-index: 300;
    border: solid 3px black;
  }

#half-table{
    transition: 450ms;
    width: 700px;
}

#full-table{
    transition: 350ms;
    width: 900px;
}

.action {
    background-color: white;
    width: 100%;
    position: absolute;
    bottom: 0;
    display: inline-flex;
}

#show-cart{
    overflow-x: visible;
    position: fixed;
    right: 480px;
    margin-top: auto;
    margin-bottom: auto;
    transition: 350ms;
}

#hide-cart{
    transition: 850ms;
    overflow-x: visible;
    position: fixed;
    margin-top: auto;
    margin-bottom: auto;
}

#customer-select{
    width: 30px;
    height: 20px;
}