.cart{
    margin-top:40px;
}
.collection-item{
    display: flex;
    width: 135px;
    margin-left: 15px;
    padding-bottom: 10px;
}

.item-desc{
    align-self:center;
}

.collection-item.avatar {
    background-color: #c7c7c7;
}
#promo-edit{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.selected-promoproduct{
    background-color: rgb(166, 172, 172);
}

#modal-global{
    justify-content: center;
    overflow:auto;
    height:85%;
    width:65%;
    margin:auto;
}

.paper-global{
    background-color: white;
    border: 2px solid #000;
    box-shadow: black;
    padding: 2,4,3;
}

#header-modal{
    width: max-content;
    background-color: rgba(17, 10, 10, 0);
    float: right;
    overflow: hidden;
    padding-right: 10px ;
    height: 50px;
}

.delete-icon{
    color: rgb(238, 98, 98);
}

.edit-icon{
    color: rgb(64, 64, 241);
}
.add-to-cart-icon{
    color: rgb(33, 104, 33);
}

ul{
    text-align: left;
    white-space: normal;
}

li{
    margin: 0px 0px 15px 0px;
}

label{
    color: rgb(51, 54, 206);
}