@media print {
    .Print-area {
        display: block;
    }
}

.Print-area {
    display: none;
}

body > .Print-area {
    display: block;
  }

#table-invoice{
    border: 1px solid black;
    border-collapse: collapse;
}

.kop-invoice {
    margin-left: 40px;
    display: grid;
    grid-template-columns: 1.3fr 0.7fr;
    grid-template-rows: auto;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "col-1 col-2";
  }
  
  .col-1 { grid-area: col-1; }
  
  .col-2 { grid-area: col-2; }

  #table-container{
      margin : 15px;
      width: 90%;
  }
  