.login-container{
    height: 100vh;
}

.background-image{
    background-image: url(https://play-lh.googleusercontent.com/W0tSgYlX_OWTe8j55Vs6ZZ1hIcwiqPXQObSiYzK-2iVQkfnp37yGgKF4RFHKbuUP9TI);
    background-color: rgb(252, 252, 252);
    background-size: cover;
    background-position: center;
}

.paper{
    margin: 80px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form{
    width: 100%;
    margin-top: 8%;
}