#body {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  z-index: 0;
}

.custom-toolbar-select {
  margin-right: 25px;
  display: inline-flex;
}

#contents {
  width: 100%;
  z-index: 1;
}

.search-bar{
  display: inline-flex;
  width: 550px;
}

#search-input{
  margin-right: 30px;
}

#select-option{
  width: 200px;
  height: 40px;
}

.heading-6 {
  margin: auto;
  width: 750px;
}