#select-services{
    width: 60%;
}

.select-dropdown {
    display: flex; 
}

#remove {
    height: 25px;
    margin-left: 15px ;
    margin-top: auto;
    margin-bottom: auto;
}

.validthru{
    display: flex;
    width: 55%;
}