#body {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  z-index: 0;
}

.custom-toolbar-select {
  margin-right: 25px;
  display: inline-flex;
}

#contents {
  width: 100%;
  z-index: 1;
}

.heading-6 {
  margin: auto;
  width: 350px;
}